.wrapNavbar {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  align-items: center;
  width: 100%;
}

.navbarLink {
  color: black;
}

.navbarBtn {
  width: 192px;
  height: 38px;
  position: relative;
  left: 30%;
  margin: 1rem;
  background-color: #c4c4c4;
  border: none;
}

.navbarBtn:active {
  background-color: gray;
  border: 1px solid rgb(160, 160, 160);
}

.navbarBtn:focus {
  background-color: #c4c4c4;
}
