ul {
  list-style-type: none;
  padding: 0;
}
.wrapNavbarBtn {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nopage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text404 {
  font-size: 46px;
}
